<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425066435852-1snid6q243p1fkfnuuc80nchq9d4u7fl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425066435852-1snid6q243p1fkfnuuc80nchq9d4u7fl</string>
	<key>API_KEY</key>
	<string>AIzaSyAIM28r8nc-47v3dzbtknJH0-sIsY2vJYI</string>
	<key>GCM_SENDER_ID</key>
	<string>425066435852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-f7641</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-f7641.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425066435852:ios:ea4d19398bb55db0656529</string>
</dict>
</plist>